  <%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/admin.css">
</head>

<body>
  <%- include('../includes/header.ejs') %>
  <main class="main-content grid-container">
    <section class="add-product grid-content">
      <h2 class="heading-sm">
        <%= pageTitle %>
      </h2>
      <form class="form txt body-txt" action="/admin/add-product" method="post">
        <label for="title">Product Title:</label>
        <input type="text" name="title" id="title" placeholder="Title" required>
        <label for="imageUrl">Image URL:</label>
        <input type="text" name="imageUrl" id="imageUrl" placeholder="Image URL">
        <label for="price">Product Price: $ 
          <input type="number" step="0.01" inputmode="numeric" min="0.01" max="1000" name="price" id="price" placeholder="9.99" required>
        </label>
        <label for="description">Description: </label>
          <textarea name="description" id="description" rows="5"></textarea>
        <button type="submit" class="btn solid content-center">Add Product</button>
      </form>
    </section>
  </main>
<%- include('../includes/end.ejs') %>
