<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candleaf</title>
  <script src="/scripts/mobile-menu-btn.js" defer></script>
  <link rel="shortcut icon" href="/images/icons/favicon.svg" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Sintony:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles/vars.css">
  <link rel="stylesheet" href="styles/typography.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/button.css">
  <link rel="stylesheet" href="styles/mobile-menu-btn.css">
  <link rel="stylesheet" href="styles/section.css">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <header class="main-header grid-container">

    <nav class="main-nav grid-content section-content">
      <button id="mob-menu-btn" class="mob-burger btn not-animated">
        <span class="mob-burger-span"></span>
        <span class="mob-burger-span"></span>
        <span class="mob-burger-span"></span>
      </button>

      <a class="nav-link" href="/">
        <svg class="logo" width="126" height="34">
          <use href="./images/icons/logo.svg#logo" />
        </svg>
      </a>

      <ul class="nav-list header-list list txt body-txt">
        <li class="nav-item"><a class="nav-link" href="#">Discovery</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Products</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
      </ul>

      <div class="cart-profile">
        <button class="cart-profile-btn btn">
          <svg class="icon" width="30" height="30">
            <use href="./images/icons/profile-icon.svg#icon" />
          </svg>
        </button>
        <button class="cart-profile-btn btn">
          <svg class="icon" width="23" height="23">
            <use href="./images/icons/cart-icon.svg#icon" />
          </svg>
        </button>
      </div>
    </nav>
  </header>
  <main class="main-content grid-container">
    <section class="hero-section grid-content-full">
      <div class="hero-info-block section-content">
        <h2 class="heading-md">
          <img width="46" height="46" src="/images/icons/flower-pot.png" alt="plant"> <br>
          The nature candle
        </h2>
        <p class="txt">All handmade with natural soy wax, Candleaf is a companion for all your pleasure moments </p>
        <button class="btn big solid">Discovery our collection</button>
      </div>
    </section>

    <section class="section-products grid-content">
      <div class="section-content">
        <header class="products-header">
          <h2 class="heading-md">Popular</h2>
          <p class="txt descr-heading">Order it for you or for your beloved ones </p>
        </header>

        <ul class="list product-list">
          <li class="product-card content-center">
            <img src="/images/product-images/spiced-mint.png" alt="Spiced Mint candle">
            <div class="product-cart-content">
              <h3 class="txt product-title">Spiced Mint</h3>
              <span class="txt product-price">9.99$</span>
            </div>
          </li>
        </ul>

        <button class="product-btn btn solid">See more</button>
      </div>
    </section>
  </main>
  <footer></footer>
</body>
