<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candleaf</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Sintony:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles/vars.css">
  <link rel="stylesheet" href="styles/typography.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/button.css">
</head>

<body>
  <header></header>
  <main></main>
  <footer></footer>
</body>

</html>
