body {
  color: var(--clr-black);
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.active {
  color: var(--clr-green);
}

.main-header {
  position: sticky;
  top: 0;
  background: var(--clr-white);
  height: var(--header-height);
  border-bottom: 1px solid #E5E5E5;
  z-index: 5;
  color: var(--clr-black);
}

.main-nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-profile-btn {
  padding: 0;
  color: var(--clr-black);
}

.list {
  list-style: none;
  padding: 0;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: var(--header-height);
  left: 0;
  padding: var(--gap-md) 0 var(--gap-md) 63px;
  width: 100%;
  background-color: var(--clr-white);
  transform: translateY(-300px);
  opacity: 0;
  transition: all var(--duration) ease-in-out;
}

.nav-list>.nav-item {
  margin-bottom: var(--gap-sm);
}

.nav-list>.nav-item>.nav-link {
  color: inherit;
  text-decoration: inherit;
}

.cart-profile {
  display: flex;
}

.cart-profile-btn:first-of-type {
  margin-right: var(--gap-sm);
}

.hero-section {
  padding: var(--gap-xxxl) var(--gap-sm);
  background-image: url("../images/hero-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--clr-dark-blue);
}

.hero-info-block {
  max-width: 730px;
  margin: 0 auto;
  padding: var(--gap-lg) var(--gap-xxl);
  align-items: center;
  text-align: center;
  background: rgba(247, 248, 250, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 4px;
  gap: 0;
}

.hero-info-block .txt {
  margin-bottom: var(--gap-lg);
}

/* ================== Product Section ================ */

.section-products {
  margin-bottom: var(--gap-xl);
  padding: var(--gap-xxl) var(--gap-xxxl);
  color: var(--clr-blue);
}

.section-products .heading-md {
  margin-bottom: var(--gap-sm);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin-bottom: var(--gap-lg);
  gap: 2rem;
}

.product-card {
  position: relative;
  width: 100%;
  background-color: #F7F8FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 24px rgba(123, 123, 123, 0.15);
}

.product-cart-content {
  padding: var(--gap-xs) var(--gap-md);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--clr-white);
  position: relative;
}

.product-title {
  padding: 0;
  padding-top: var(--gap-xs);
  margin: 0;
  margin-right: var(--gap-sm);
  align-self: self-start;
  text-align: left;
}

.product-price {
  position: absolute;
  top: var(--gap-sm);
  right: var(--gap-xs);
  align-self: self-end;
  font-size: 15px;
  color: var(--clr-green);
}

.product-btn {
  margin-right: 1rem;
  align-self: center;
}

.product-card_actions {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-cart-image {
  display: block;  
}

.product-content-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* ============= Product's Page ============ */
.section-product {
  padding: var(--gap-xxl) var(--gap-xxxl);
}

.page-product-content {
  flex-direction: row;
}

.page-product-content>div {
  flex: 50% 1 0;
}

.page-product-image {
  text-align: center;
  width: 50%;
}

.page-image {
  width: 100%;
  background-color: var(--clr-light-grey);
  margin-bottom: var(--gap-sm);
}

.page-product-image .txt-emphasize {
  margin-top: var(--gap-sm);
}

.page-product-content .heading-md {
  font-size: var(--gap-md);
  position: relative;
  text-align: left;
}

.page-product-content .heading-md::after {
  content: ' Candleaf ©';
}

.product-price-item {
  position: relative;
  font-size: var(--gap-md);
  margin-bottom: var(--gap-md);
}

.product-price-item span {
  padding-left: 0.8rem;
}

.product-price-item span::before {
  content: '$';
  position: absolute;
  left: 0;
}

.quantity-item {
  margin-bottom: var(--gap-lg);
}

.quantity-item input {
  border: 1px solid var(--clr-green);
  padding: 4px;
  text-align: center;
  width: 75px;
  height: 30px;
}

.product-description {
  margin-top: var(--gap-lg);
  padding: var(--gap-md);
  border: 1px solid #E6E6E6;
}

.section-product .product-card_actions {
  justify-content: start;
}

/* =================== Feature Section ================ */
.grid-content-full:has(.feature-section) {
  background-color: var(--clr-light-grey);
}

.feature-section {
  padding: var(--gap-xxl) var(--gap-xxxl);
}

.features-all-content {
  display: grid;
  grid-template-areas: 
    "header header"
    "content image";
}

.feature-header {
  grid-area: header;
}

.feature-header .heading-md {
  width: 350px;
  text-align: left;
  margin-bottom: var(--gap-sm);
}

.feature-content {
  /* min-width: 50%; */
  grid-area: content;
}

.list-feature {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
  gap: var(--gap-xs);
  padding-top: var(--gap-lg);
  padding-bottom: var(--gap-xl);
}

.feature-item {
  padding-left: var(--gap-md);
  position: relative;
}

.feature-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: var(--gap-sm);
  height: var(--gap-sm);
  background-image: url('../images/icons/checkmark-circle-outline.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.feature-image {
  grid-area: image;
  aspect-ratio: 736 / 454;
}

.feature-image img {
  width: 100%;
  height: auto;
}

/* ==================== CART ===================== */
.section-cart {
  padding: var(--gap-xxl) var(--gap-xxxl);
}

.header-table {
  width: 100%;
  display: grid;
  grid-template-areas: 
    "product price qty total";
  grid-template-columns: 1fr 120px 120px 120px;
}
.header-table .txt {
  text-align: center;
}
.header-table .table-product {
  grid-area: product;
}

.header-table .table-price {
  grid-area: price;
}

.header-table .table-quantity {
  grid-area: qty;
}

.header-table .table-total {
  grid-area: total;
}
.section-cart .cart-item {
  width: 100%;
  display: grid;
  grid-template-areas: 
    "product price qty total";
  grid-template-columns: 1fr 120px 120px 120px;
  align-items: center;
}

.table-product {
  grid-area: product;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.table-product-content {
  display: flex;
  flex-direction: column;
}

.table-product h3::after {
  content: ' Candleaf ©';
}

.table-product img {
  background-color: var(--clr-light-grey);
  margin-right: var(--gap-md);
}

.cart-item-price {
  grid-area: price;
}

.cart-item-quantity {
  grid-area: qty;
}

.cart-item-total {
  grid-area: total;
}

/* ================== MEDIA QUERIES ===================== */


@media screen and (max-width: 1400px) {
  .product-list { 
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  .product-list { 
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 821px) {
  .product-list { 
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 522px) {
  .section-products {
    padding: var(--gap-lg) var(--gap-xl);
  }
 .feature-section {
    padding: var(--gap-lg) var(--gap-xl);
  }
}

@media screen and (max-width: 1130px) {
  .features-all-content {
    grid-template-areas: 
      "header header"
      "image image"
      "content content";
}  
}