body {
  color: var(--clr-black);
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.active {
  color: var(--clr-green);
}

.main-header {
  position: sticky;
  top: 0;
  background: var(--clr-white);
  height: var(--header-height);
  border-bottom: 1px solid #E5E5E5;
  z-index: 5;
  color: var(--clr-black);
}

.main-nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-profile-btn {
  padding: 0;
  color: var(--clr-black);
}

.list {
  list-style: none;
  padding: 0;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: var(--header-height);
  left: 0;
  padding: var(--gap-md) 0 var(--gap-md) 63px;
  width: 100%;
  background-color: var(--clr-white);
  transform: translateY(-300px);
  opacity: 0;
  transition: all var(--duration) ease-in-out;
}

.nav-list>.nav-item {
  margin-bottom: var(--gap-sm);
}

.nav-list>.nav-item>.nav-link {
  color: inherit;
  text-decoration: inherit;
}

.cart-profile {
  display: flex;
}

.cart-profile-btn:first-of-type {
  margin-right: var(--gap-sm);
}

.hero-section {
  padding: var(--gap-xxxl) var(--gap-sm);
  background-image: url("../images/hero-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--clr-dark-blue);
}

.hero-info-block {
  max-width: 730px;
  margin: 0 auto;
  padding: var(--gap-lg) var(--gap-xxl);
  align-items: center;
  text-align: center;
  background: rgba(247, 248, 250, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 4px;
  gap: 0;
}

.hero-info-block .txt {
  margin-bottom: var(--gap-lg);
}

/* ================== Product Section ================ */

.section-products {
  margin-bottom: var(--gap-xl);
  padding: var(--gap-xxl) var(--gap-xxxl);
  color: var(--clr-blue);
}

.section-products .heading-md {
  margin-bottom: var(--gap-sm);
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--gap-lg);
  gap: 2rem;
}

.product-card {
  position: relative;
  width: 100%;
  background-color: #F7F8FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-cart-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--clr-white);
}

.product-title {
  padding: 0;
  padding-top: var(--gap-xs);
  padding-left: var(--gap-sm);
  margin: 0;
  align-self: self-start;
}

.product-price {
  align-self: self-end;
  font-size: 15px;
  color: var(--clr-green);
}

.product-btn {
  margin-right: 1rem;
  align-self: center;
}

.product-card_actions {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.product-cart-image {
  display: block;  
}

.product-content-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* ============= Product's Page ============ */

.page-product-content {
  flex-direction: row;
}

.page-product-content>div {
  flex: 50% 1 0;
}

.page-image {
  width: 80%;
}